{% extends "base.html" %} {% block content %}
<h1>{{ propriedade.titulo }}</h1>
<p>{{ propriedade.descricao }}</p>
<p>
  Endereço: {{ propriedade.endereco }} — {{ propriedade.city }}/{{
  propriedade.state }}
</p>
<p>Preço por noite: R${{ propriedade.preco_por_noite }}</p>

<h3>Imagens</h3>
{% for img in propriedade.imagens.all %}
<img
  src="{{ img.imagem.url }}"
  alt="{{ img.legenda }}"
  style="max-width: 200px"
/>
{% empty %}
<p>Sem imagens.</p>
{% endfor %}

<p><a href="{% url 'reservas:nova' propriedade.id %}">Reservar agora</a></p>

<h3>Avaliações</h3>
{% include "avaliacoes/list_partial.html" with propriedade=propriedade %} {%
endblock %}
